body {
	background-color : #202020;
	margin : 10px  ;
	width : 100%;
	font-family: sans-serif;
}

h1 {
	color : white;
	margin-left : 100px;
}

div.block {
	margin : 0px auto;
	text-align : center;
}

div#catalog {
	border : solid thin white;
	padding : 5px;
		position : absolute;
	left : 250px;
	top : 100px;
			width : 70%;
	max-width : 1000px;
	color : white;
}

div#catalog div {
		text-align : left;
}

div#selection {
	width : 215px;
	height : 750px;
	position : absolute;
	left : 10px;
}

div#selection>div {
	margin : 5px;
	border : solid thin rgba(55,55,55,0.4);
	height : 352px;
	position : relative;
}

div#selection>div span:first-child {
	font-size : 100px;
	color : rgb(80,80,80);
	position : relative;
	top : 100px;
}

div#selection>div span:nth-child(2) {
	font-size : 20px;
	color : rgb(80,80,80);
	position : absolute;
	top : -3px;
	right : -3px;
	background-color : white;
	padding : 0px 5px;
	border-radius : 10px;
	box-shadow:  0px 0px 4px 2px rgba(55,55,55,1);
}


div#selection>h3 {
	color : black		;
	margin : 3px;
}

div#films, div#details, div#selection {
	background-color: rgba(220,220,220,1);
	box-shadow:  0px 0px 10px 4px rgba(255,255,255,0.2);
}
div#films, div#details{
	padding : 10px;
}

div#films {
	height : 370px;
	overflow-x: scroll;
   overflow-y: hidden;
	white-space: nowrap;
}

div.film {
	display : inline-block;
	width : 200px;
	height : 350px;
	vertical-align : top;

	border : solid thin rgba(55,55,55,0.8);
	background-color : rgba(55,55,55,1)
}

div#films div.film {
	margin : 0px 3px;
}

/*
	Q2 A compléter
}*/

div.film h3 {
	height : 70px;
	background-color : rgb(80,80,80);
	padding : 5px;
	margin : 0px;
	color : white;
	white-space : initial;
}

div.film img {
	width : 100%;
}

div#details {
	min-height : 100px;
		margin : 20px 0px;
	color : black;
}

#filter {
	font-size : 20px;
	margin-bottom : 10px;
	margin-right : 30px;
	width : 200px;
}
